
/*report filter accordion styling */
div.form_container div.ui-accordion div.ui-accordion-content {padding: 15px; overflow-y: hidden;}



/*tooltip START*/

.tooltip {cursor: help !important;}

/*tooltip END*/


.filter_field_button {top: -0.4em;}
.filter_field {margin: 0px 5px;}








/*Card Styling START*/

div.proj_name_div{
  width: 20%;
}

div.proj_info_div
{
  width: 10%;
}

div.proj_res_div
{
  width: 20%;
}

div.proj_impl_res_info_div
{
  width: 10%;
}

div.proj_impl_res_div
{
  width: 20%;
}

div.proj_auditing_info_div
{
  width: 10%;
}

div.proj_user_div
{
  width: 10%;
}

/*Card Styling END*/
